@import "reset.css";
body {
     width: 100%;
     height: 100%;
    background-image: url("img/bgbody.gif");
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
#wrapper {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
#left-sidebar {
    width: 200px;
    height: 600px;
    background-color: #ffffff;
    border-radius: 3px;
    border: 2px solid #999999;
    float: left;
    margin-left: 100px;
}
#main {
    height: 600px;
    background-color: #ffffff;
    border-radius: 3px;
    border: 2px solid #999999;
    margin: 0 100px 0 200px;
}
#info {
    width: 100%;
}
#Country {
    width: 200px;
}
#City {
    width: 200px;
}
#Shop {
    width: 200px;
}
#color-select{
    width: 360px;
    height: 20px;
    text-align: left;
    float: left;
    margin: 2px 0 0 10px;
    display: none;
}
.button-color {
    float: left;
}
#select-color {
    float: left;
    margin: 50px 0 0 0;
    width: 700px;
    display: none;
}
.color-select1 {
    border: 1px solid #e1e1e8;
    cursor: pointer;
    height: 14px;
    vertical-align: middle;
    width: 14px;
    background: none repeat scroll 0 0 #000099;
}
.color-select2 {
    border: 1px solid #e1e1e8;
    cursor: pointer;
    height: 14px;
    vertical-align: middle;
    width: 14px;
    background: none repeat scroll 0 0 #398439;
}
.color-select3 {
    border: 1px solid #e1e1e8;
    cursor: pointer;
    height: 14px;
    vertical-align: middle;
    width: 14px;
    background: none repeat scroll 0 0 #AA0000;
}
.color-select4 {
    border: 1px solid #e1e1e8;
    cursor: pointer;
    height: 14px;
    vertical-align: middle;
    width: 14px;
    background: none repeat scroll 0 0 #d58512;
}
.color-select5 {
    border: 1px solid #e1e1e8;
    cursor: pointer;
    height: 14px;
    vertical-align: middle;
    width: 14px;
    background: none repeat scroll 0 0 #ffff00;
}
.size {
    float: left;
    margin-top: 50px;
    width: 600px;
}
.size-input {
    float: left;
}
.size-width {
    margin-top: 20px;
}
.checkbox-options {
    margin-top: 300px;
}
#sum1 {
    margin: 50px 0 0 10px;
    float: left;
}
#sizes {
    display: none;
}
#checksum {
    margin: 50px 0 0 10px;
    float: left;
}
#fifth{

}
